<nav>
	<img
		class="google-logo results-logo"
		src="/img/google.png"
		alt="Google logo"
	/>
	<form action="/results" method="post">
		<input type="search" class="results-page" name="search"/>
		<button class="primary results-page">Search</button>
	</form>
</nav>
