<nav>
	<img
		class="google-logo results-logo"
		src="/img/google.png"
		alt="Google logo"
	/>
	<form>
		<input type="search" class="results-page" />
		<button class="primary results-page">Search</button>
	</form>
</nav>
<section class="results-page">
	<div class="search-path">
		<span class="search-path">5 results</span>
	</div>
</section>
<!-- *** RESULTS HARD CODED START *** -->
<!-- <section class="search-results">
	<div>
		<small>www.javascriptschool.com</small>
		<h1>
			<a href="www.javascriptschool.com" target="_blank"
				>Javascript Tutorial</a
			>
		</h1>
		<p>Learn Javascript online. Excellent source of syntax</p>
		<ul>
			<li><a href="#" target="_blank">Javascript Introduction</a></li>
			<li><a href="#" target="_blank">Do you understand Map syntax?</a></li>
			<li><a href="#" target="_blank">How to use random() ??</a></li>
		</ul>
	</div>
	<div>
		<small>www.tortugacoders.com</small>
		<h1>
			<a href="https://www.tortugacoders.com" target="_blank"
				>Tortuga Coders</a
			>
		</h1>
		<p>Its Real.... F#%k it</p>
		<ul>
			<li><a href="#" target="_blank">Javascript Pre-course</a></li>
			<li><a href="#" target="_blank">Google Search Project</a></li>
			<li><a href="#" target="_blank">CSS</a></li>
		</ul>
	</div>
	<div>
		<small>https://en.wikipedia.org/wiki/JavaScript</small>
		<h1>
			<a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank"
				>Javascript Wikipedia</a
			>
		</h1>
		<p>
			JavaScript often abbreviated JS, is a programming language that is one
			of the core technologies of the World Wide Web, alongside HTML and
			CSS.
		</p>
		<ul>
			<li>
				<a
					href="https://en.wikipedia.org/wiki/JavaScript#History"
					target="_blank"
					>History</a
				>
			</li>
			<li>
				<a
					href="https://en.wikipedia.org/wiki/JavaScript#Trademark"
					target="_blank"
					>Trademark</a
				>
			</li>
			<li>
				<a
					href="https://en.wikipedia.org/wiki/JavaScript#Website_client-side_usage"
					target="_blank"
					>Website Client-side usage</a
				>
			</li>
			<li>
				<a
					href="https://en.wikipedia.org/wiki/JavaScript#Other_usage"
					target="_blank"
					>Other usage</a
				>
			</li>
			<li>
				<a
					href="https://en.wikipedia.org/wiki/JavaScript#Features"
					target="_blank"
					>Features</a
				>
			</li>
		</ul>
	</div>
</section> -->
<!-- *** RESULTS HARD CODED END *** -->
<!-- **** MIDDLE **** Uncomment to swap between -->
<!-- *** RESULTS LINK ARRAY START *** -->
<!-- <section class="search-results">
	<div>
		<small>www.javascriptschool.com</small>
		<h1>
			<a href="www.javascriptschool.com" target="_blank"
				>Javascript Tutorial</a
			>
		</h1>
		<p>Learn Javascript online. Excellent source of syntax</p>
		<ul>
			<li><a href="#" target="_blank">Javascript Introduction</a></li>
			<li><a href="#" target="_blank">Do you understand Map syntax?</a></li>
			<li><a href="#" target="_blank">How to use random() ??</a></li>
		</ul>
	</div>
	<div>
		<small>www.tortugacoders.com</small>
		<h1>
			<a href="https://www.tortugacoders.com" target="_blank"
				>Tortuga Coders</a
			>
		</h1>
		<p>Its Real.... F#%k it</p>
		<ul>
			<li><a href="#" target="_blank">Javascript Pre-course</a></li>
			<li><a href="#" target="_blank">Google Search Project</a></li>
			<li><a href="#" target="_blank">CSS</a></li>
		</ul>
	</div>
	<div>
		<small>https://en.wikipedia.org/wiki/JavaScript</small>
		<h1>
			<a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank"
				>Javascript Wikipedia</a
			>
		</h1>
		<p>
			JavaScript often abbreviated JS, is a programming language that is one
			of the core technologies of the World Wide Web, alongside HTML and
			CSS.
		</p>
		<ul>
			<li>
				<a
					href="https://en.wikipedia.org/wiki/JavaScript#History"
					target="_blank"
					>History</a
				>
			</li>
			<li>
				<a
					href="https://en.wikipedia.org/wiki/JavaScript#Trademark"
					target="_blank"
					>Trademark</a
				>
			</li>
			<li>
				<a
					href="https://en.wikipedia.org/wiki/JavaScript#Website_client-side_usage"
					target="_blank"
					>Website Client-side usage</a
				>
			</li>
			<li>
				<a
					href="https://en.wikipedia.org/wiki/JavaScript#Other_usage"
					target="_blank"
					>Other usage</a
				>
			</li>
			<li>
				<a
					href="https://en.wikipedia.org/wiki/JavaScript#Features"
					target="_blank"
					>Features</a
				>
			</li>
		</ul>
	</div>
</section> -->
<!-- *** RESULTS LINK ARRAY END *** -->
