<section class="search-page wrap-small">
	<div>
		<img
			class="google-logo search-logo"
			src="/img/google.png"
			alt="Google logo"
		/>
		<form>
			<div>
				<input type="search" class="search-page" />
			</div>
			<button class="primary search-page">Search</button>
		</form>
	</div>
</section>
