/* General
* Typography
* images
* Buttons
* forms
Layout
*  */

/* **TYPOGRAPHY** */
body {
  font-family: Helvetica;
  color: #5b5b5b;
}

nav {
  border-bottom: 1px solid #c4c4c4;
}

h1 {
  font-size: 24px;
}

h1 a {
  text-decoration: none;
}

p {
  font-size: 14px;
}

ul {
  font-size: 12px;
}

small {
  font-size: 14px;
}

a {
  color: #1a0dab;
}

a::after {
  color: #660099;
}

/* **IMAGES** */
.google-logo {
  width: 150px;
}

.results-logo {
  margin: auto;
  margin-right: 30px;
}

.search-logo {
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* **BUTTONS** */
button {
  width: 80px;
  height: 40px;
  margin-top: 10px;
}

button.results-page {
  margin-bottom: 10px;
  margin-top: 10px;
}

button.primary {
  background-color: #4285f3;
  border-radius: 10px;
  border: #1a5fd0 solid 1px;
  color: white;
}

button.primary:hover {
  background-color: #5998ff;
}

button.search-page {
  margin-top: 20px;
}

/* **FORMS** */

input[type='search'] {
  width: 400px;
  margin-right: 20px;
  margin-top: 20px;
  color: #5b5b5b;
  height: 40px;
  border-radius: 30px;
  border: 1px solid grey;
  padding-left: 10px;
}

input[type='search']:hover {
  border: 2px solid grey;
}

input.search-page {
  margin-top: 20px;
}

form .search-page {
  margin-left: auto;
  margin-right: auto;
}

/* **LAYOUT** */
body {
  margin: 0;
}

nav {
  display: grid;
  grid-template-columns: 200px auto;
}

.search-page {
  display: block;
}

.search-results {
  width: 700px;
  margin-left: 200px;
}

section.search-results div {
  margin-bottom: 40px;
}

h1 {
  margin: 0px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  display: inline;
  margin-right: 6px;
}

span {
  display: block;
  margin-bottom: 30px;
  margin-left: 200px;
  margin-top: 20px;
}
